<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv='X-UA-Compatible' content="IE=edge">
  <meta name="robots" content="noindex, noarchive, nofollow" />
  <title>PokÉmpire | Home</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <header>
    <h1>PokÉmpire</h1>
  </header>
  <nav>
    [ <a href="index.html">Home</a> | 
    <a href="customers.html">Customers</a> |
     <a href="employees.html">Employees</a> |
    <a href="transactions.html">Transactions</a> |
    <a href="products.html">Products</a> ]
  </nav>

  <main>

{% block content %}

{% endblock %}


</article>



</section>

</main>
</body>

<footer>
<p>
&copy; 2024 Nick Laustrup &amp; Brian Swanson
</p>
</footer>

</html>